.body-em-breve {
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: #fff;
    font-family: rawline;
    font-weight: 400;
    height: 100vh;
   
}

.principal__background__breve {
    background-image: url(../assets/main-brackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.titulo-em-breve {
    font-size: 63px;
    font-family: rawline;
    font-weight: bold;
    color: #fff;
}